<%= render partial: 'modeldetails/notice' %>
<h1 class="mx-5 mt-4 mb-4">Total no of Tasks <%= current_user.tasks.count %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Task name</th>
      <th scope="col">Attachment</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  	<% current_user.tasks.each do |task| %>
	    <tr>
	 	  <td><%= task.id %></td>
	 	  <td><%= link_to task.task_name, task_path(task) %></td>
	      <!-- <td><%= image_tag task.attachment.url(:thumb) %></td> -->
        <td><%= image_tag(task.photo, style: "width:90px")%></td>
	      <td>
	      	<%= link_to "Edit", edit_task_path(task) %>
	      	<%= link_to "Delete",  task_path(task), method: :delete, data: { confirm: 'Are you sure to Delete?' }, class: "text-danger ml-1" %>
	      </td>
	    </tr>
	 <% end %>
   </tbody>
</table>
