<div class="container">
<h2 class="mx-5 mt-4 mb-4">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation ">
      <ul >
        <% resource.errors.full_messages.each do |message| %>
          <li class="text-danger"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :Username %><br />
    <%= f.text_field :user_name, class: "form-control" %>
    <br>
  </div>

  <div class="field">
    <%= f.label :Firstname %><br />
    <%= f.text_field :first_name, class: "form-control" %>
    <br>
  </div>

  <div class="field">
    <%= f.label :Lastname %><br />
    <%= f.text_field :last_name, class: "form-control" %>
    <br>
  </div>

  <div class="field">
    <%= f.label :Phonenumber %><br />
    <%= f.text_field :phone_number, class: "form-control" %>
    <br>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <br>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <br>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    <br>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    <br>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-success btn-block mb-3" %>
  </div>
<% end %>

</div>

<style >

ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
</style>