<div class="container signup-form bg-white">
<h1 class="mx-5 mt-4 mb-4 title">Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation ">
      <ul >
        <% resource.errors.full_messages.each do |message| %>
          <li class="text-danger"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Username %><br />
    <%= f.text_field :user_name, class: "form-control" %>
    <br>
  </div>

  <div class="field">
    <%= f.label :Firstname %><br />
    <%= f.text_field :first_name, class: "form-control" %>
    <br>
  </div>

  <div class="field">
    <%= f.label :Lastname %><br />
    <%= f.text_field :last_name, class: "form-control" %>
    <br>
  </div>

  <div class="field">
    <%= f.label :Phonenumber %><br />
    <%= f.text_field :phone_number, class: "form-control" %>
    <br>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <br>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <br>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    <br>
  </div>
  <br>
  <div class="field">
    <%= f.label :Organisation %>
    <%= f.select :organisation_id, Organisation.all.map  { |m1| [m1.organisation_name, m1.id]}, class: 'form-control status' %> 
    <br>
  </div>

  <div class="actions">
    <br>
    <center><%= f.submit "Sign up", class: "btn btn-warning yellowbtn" %></center>
  </div>
<% end %>
<br>
<span class="mr-5"><strong>Already an user?</strong> Please log-in</span>
<%= render "devise/shared/links" %>
<div class="mb-1"><br></div>
</div>
<style >

ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
  .signup-form {
    width: 38%;
    border-radius: 8px;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 5px 10px 8px #888888;
  }
  body {
    background-color: #EEF0F0;
  }
  .title {
    color: #DC8E1E ;
  }
  .yellowbtn {
    padding: 11px 94px;
  }
</style>
