<%= form_for @task, url:{action:"create"}, html: { multipart: true } do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li class="text-danger"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :task_name %>
    <%= form.text_field :task_name, class: "form-control" %>
    <br>
  </div>
  <div>
    <strong><%= form.label :Project %></strong>
    <%= form.select :project_id, current_user.projects.map  { |m1| [m1.project_name, m1.id]} %> 
  </div>

  <br>

  <div>
    Attachment: <%= form.file_field :photo, accept: 'image/jpg' %>   
  </div>
  <br>
    
  <div class="actions">
    <% if action_name == 'new' %>
        <%= form.submit "Create", class: "btn btn-success btn-block" %>
      <% else %>
        <%= form.submit "Update", class: "btn btn-success btn-block" %>
      <% end %>
  </div>
<% end %>