<div class="container-fluid">
	<%= render partial: 'modeldetails/sidebar' %>
	<main class="col-12 col-md-10 col-sm-12 p-0 container-fluid'">
		<%= render partial: 'modeldetails/notice' %>
		<div class="container ml-1">
			<h1 class="mx-5 mt-4 mb-4">Create Organisation</h1>
			<hr>
			<%= form_for @organisation,  url:{action:"create"}   do |form| %>
			  <% if @organisation.errors.any? %>
			    <div id="error_explanation">
				  <ul>
			        <% @organisation.errors.full_messages.each do |message| %>
			          <li class="text-danger"><%= message %></li>
			        <% end %>
			      </ul>
			    </div>
			  <% end %>

			 	<div class="row">
				  	<div class="form-group col-md-6">
				    	<label><strong>Organisation Name</strong></label>
				    	<%= form.text_field :organisation_name, class: "form-control" %>
					  	<div class="m-5 text-center">
				    		<%= form.submit "create Organisation", class: "btn btn-success" %>
				  		</div>
				  	</div>
				  	<div class="form-group col-md-6" style='padding-left:180px'>
				  		<div class="card" style="width: 18rem;">
				  			<div class="card-header bg-info">
				    			<span class="text-white">Created Organisations</span>
				  			</div>
				  			<ul class="list-group list-group-flush">
				  				<% Organisation.all.each do |orgs| %>
									<li class="list-group-item"><strong><%= orgs.organisation_name.upcase %></strong></li>
								<% end %>
							</ul>
						</div>
					</div>
				</div>
			<% end %>

<style >
	ul {
	    list-style: none;
	    margin: 0 0 18px 0;
	  }
</style>
		</div>
	</main>
	</div>
</div>