<div class="container">
<h1 class="ml-5 mt-3">News Feed</h1>
      <% if current_user.admin? %>
	      <div>
	        <button type="button" class="btn btn-danger btn-sm disabled admin" disabled>Admin for Neews feed</button>
	      </div>
      <% end %>
	<center><%= link_to "+ Create News", new_newsfeed_path, class: "btn btn-warning" %></center><br>

<% @newsfeeds.each do |news| %>
	

		<div class="card border-primary ">
		  <div class="card-header text-white bg-secondary">
		    NEWS
		  </div>
		  <div class="card-body">
		    <h5 class="card-title"><%= news.post.camelize %></h5>
		    <p class="card-text text-secondary float-right">Posted <%= time_ago_in_words(news.created_at) %> by <%= news.user.user_name.camelize %></p>
		    <div class="text-center">
		    	<% if can? :edit, news %>
				<%= link_to "Edit", edit_newsfeed_path(news) %> <%= link_to "Delete", newsfeed_path(news), method: :delete, data: { confirm: 'Are you sure to Delete?' }, class: "text-danger" %></center>
				<% end %>
			</div>
		  </div>
		</div>
		<br><br>

<% end %>
</div>