<h1>Admin dashboard</h1>

	<div>
		<%= link_to "Admins", details_admins_path %>
	</div>

	<div>
		<%= link_to "Users", users_admins_path %>
	</div>

	<div>
		<%= link_to "Organisations", organisations_admins_path %>
	</div>

	<div>
		<%= link_to "Projects", projects_admins_path %>
	</div>

	<div>
		<%= link_to "Tasks", tasks_admins_path %>
	</div>

	

