</br>
<center><h3>This is dashboard <%= current_user.user_name %></h3></center>
<center><strong><%= link_to "Create new Project", new_project_path %><br></strong><strong><%= link_to "Create new Task", new_task_path %></strong></center>

<div>
	<h4>Total no of Projects created - <%= current_user.projects.count %></h4>
	<% current_user.projects.each do |pro| %>
	<p><%= link_to pro.project_name, project_path(pro) %></p>
	<% end %>
</div>

<div>
	<h4>Total number of Tasks - <%= current_user.tasks.count %></h4>
	<% current_user.tasks.each do |task| %>
	<p><%= link_to task.task_name, task_path(task) %></p>
	<% end %>
</div>