<div class="container">
	<%= render partial: 'modeldetails/notice' %>
	<div>
		<h1 class="mx-5 mt-4 mb-4"><%= current_user.organisation.organisation_name.upcase %> Organisation</h1> 
	</div>
	<div class="row">
		<div class="col-sm-6">
			<strong><%= link_to "+ Create new Project", new_project_path, class: "btn btn-info btn-block mb-3" %></strong>
			<div class="card text-center">
			  <div class="card-header bg-warning">
			    <h5>Projects (<%= current_user.projects.where(status: "approve").count %>)</h5>
			  </div>
			  <div class="card-body">
			  	<% if current_user.projects.where(status: "approve").count == 0 %>
			  		<h5>No projects, Create one now</h5>
			  	<% else %>
			  	<% current_user.projects.each do |pro| %>
			  	<% if pro.status == "approve" %>
			    	<h5 class="card-title"><%= link_to pro.project_name.camelcase, project_path(pro) %></h5>
			    	<% end %>
				<% end %>
				<% end %>
			  </div>
			</div>
		</div>

		<div class="col-sm-6">
			<strong><%= link_to "+ Create new Task", new_task_path, class: "btn btn-info btn-block mb-3" %></strong>
			<div class="card text-center">
			  <div class="card-header  bg-warning ">
			    <h5>Tasks (<%= current_user.tasks.count %>)</h5>
			  </div>
			  <div class="card-body">
			  	<% if current_user.tasks.count == 0 %>
			  		<h5>No Tasks, Create one now </h5>
			  	<% else %>
			  	<% current_user.tasks.each do |task| %>
			    	<h5 class="card-title"><%= link_to task.task_name, task_path(task) %></h5>
				<% end %>
				<% end %>
			  </div>
			</div>
		</div>
	</div>
</div>
