<div class="container login-form bg-white">
  <div class="container mt-3"><center><span id="text1"><%= alert %></span></center></div>
<h2 class="mx-5 mt-4 mb-4"><span class="text-danger">Admin</span> Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="field">
    <br>
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>
  <br>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <center><%= f.submit "Log in", class: "btn btn-success greenbtn" %></center>
  </div>
  <br>
<% end %>

</div>


<style>
    #text1 {
    color: red;
    font-size: 20px;
  }
  .login-form {
    margin-top: 30px;
    box-shadow: 5px 10px 8px #888888;
    padding-top: 1%;
    padding-bottom: 10%;
    width: 28%;
    border-radius: 8px;
  }
  body {
    background-color:  #EEF0F0;
  }
  .greenbtn {
    padding: 6px 54px;
  }
</style>
