<div class="row ">
        <aside class="col-12 col-md-2 col-sm-12 p-0 bg-light" style="height: 60rem">
          <h3 class="ml-4 mt-3">Navigation</h3>
          <ul style="list-style-type: none">
            <li><h6><strong><%= link_to "Admins", details_admins_path %></strong></h6></li>
            <li><h6><strong><%= link_to "Users", users_admins_path %></strong></h6></li>
            <li><h6><strong><%= link_to "Organisations", organisations_admins_path %></strong></h6></li>
            <li><h6><strong><%= link_to "Projects", projects_admins_path %></strong></h6></li>
            <li><h6><strong><%= link_to "Tasks", tasks_admins_path %></strong></h6></li>
          </ul>
        </aside>