<h2><p class="mx-5 mt-4 mb-4">Admins - <%= Admin.all.count %></p></h2>
<h4><%= link_to "+ Create new Admin",  ad_admin_new_path, class: "btn btn-warning", style: "margin-left: 800px" %></h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= sortable "id" %></th>
      <th scope="col"><%= sortable "email" %></th>
      <th scope="col"><%= sortable "Created_at" %></th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  	<% @admins.each do |admin| %>
	    <tr>
	 	  <td><%= admin.id %></td>
	 	  <td><%= admin.email %></td>
	      <td><%= admin.created_at %></td>
      <td>
          <%= link_to "Edit", ad_admin_edit_path(admin) %>
          <%= link_to "Delete", ad_admin_show_path(admin), method: :delete, data: { confirm: 'Are you sure to Delete?' }, class: "text-danger pl-2" %>
            
        </td>        
	    </tr>
	 <% end %>
   </tbody>
</table>

<div >
	<%= link_to "Export to CSV", details_admins_path(format: "csv"), class: 'btn btn-primary' %>
</div>