<div class="container-fluid">
        <%= render partial: 'modeldetails/sidebar' %>
        <main class="col-12 col-md-10 col-sm-12 p-0 container-fluid'">
         <%= render 'notice' %>
<h2><p class="mx-5 mt-4 mb-4">Organisations - <%= Organisation.all.count %></p></h2>
<h4><%= link_to "+ Create new Organisation",  new_organisation_path, class: "btn btn-warning ml-5" %></h4>

<table class="table table-striped" style="border-radius: 10px; overflow: hidden;border-collapse: collapse;">
  <thead>
    <tr>
      <th scope="col"><%= sortable "id" %></th>
      <th scope="col"><%= sortable "organisation_name" %></th>
      <th scope="col"><%= sortable "created_at" %></th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  	<% @organisations.each do |organisation| %>
	    <tr>
	 	  <td><%= organisation.id %></td>
	 	  <td><%= link_to organisation.organisation_name, organisation_path(organisation), class: "text-success" %></td>
	      <td><%= organisation.created_at %></td>
	      <td>
	      	<span class="glyphicon glyphicon-edit"></span> <%= link_to "Edit", edit_organisation_path(organisation) %>
	      	<%= link_to "Delete",  organisation_path(organisation), method: :delete, data: { confirm: 'Are you sure to Delete?' }, class: "text-danger ml-2" %>
	      </td>
	    </tr>
	 <% end %>
   </tbody>
</table>

<span><%= link_to "Export to CSV", organisations_admins_path(format: "csv"), class: 'btn btn-primary' %></span>

</main>
    </div>
</div>