<div class="container-fluid">
  <%= render partial: 'modeldetails/sidebar' %>
  <main class="col-12 col-md-10 col-sm-12 p-0 container-fluid'">
    <%= render 'notice' %>
    <h2><p class="mx-5 mt-4 mb-4">Organisations - <%= Organisation.all.count %></p></h2>
    <div class="row container-fluid">
        <% if @admin_permissions || @create_permissions %>
        <h4><%= link_to "+ Create new Organisation",  new_organisation_path, class: "btn btn-warning ml-5" %></h4>
        <% end %>
    </div>

    <%= form_tag organisations_admins_path, :method => :get do %>
    <table id="dttb" class="table table-striped" style="border-radius: 10px; overflow: hidden;border-collapse: collapse;">
      <thead>
        <tr>
          <th><input type="checkbox" id="parentcheck1" class="parentclcheck1" ></th>
          <th scope="col"><span class="text-primary up">id</span></th>
          <th scope="col"><span class="text-primary up">organisation name</span></th>
          <th scope="col"><span class="text-primary up">created_at</span></th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      	<% @organisations.each do |organisation| %>
    	    <tr>
          <td><%= check_box_tag "organisation_id[]", organisation.id, false, class: "childcheck1" %></td>
    	 	  <td><%= organisation.id %></td>
    	 	  <td><%= link_to organisation.organisation_name, organisation_path(organisation), class: "text-success" %></td>
    	      <td><%= organisation.created_at.strftime("%A,%d %B,%Y") %></td>
    	      <td>
            <% if @admin_permissions || @edit_permissions %>
    	      	<%= link_to "Edit", edit_organisation_path(organisation) %>
              <% end %>
            <% if @admin_permissions || @delete_permissions %>
    	      	<%= link_to "Delete",  organisation_path(organisation), method: :delete, data: { confirm: 'Are you sure to Delete?' }, class: "text-danger ml-2" %>
              <% end %>
    	      </td>
    	    </tr>
    	 <% end %>
      </tbody>
    </table>
    <%= submit_tag "Export to pdf", onClick: "$(this).closest('form').attr('action', '#{ organisations_admins_path(format: :pdf) }')",  class: 'btn btn-info ml-5 mt-4' %>
    <%= submit_tag "Export to csv", onClick: "$(this).closest('form').attr('action', '#{ organisations_admins_path(format: :csv) }')",  class: 'btn btn-info ml-5 mt-4' %>
    <% end %>
  </main>
  </div>
</div>

<script >
  $(document).ready(function() {
    $('#dttb').DataTable({
      "pageLength": 4
    });
  });
</script>

<style >
  
  .col-sm-12 .col-md-6 {
    padding-top: 10px;
    padding-left: 100px;
  }
  #dttb_filter {
    padding-left: 230px;
  }
  .col-md-5 {
    padding-top: 20px;
    padding-left: 50px;
  }

  .col-md-7 {
    padding-top: 20px;
    padding-left: 440px;
  }

  .up {
    text-transform: capitalize;
  }

</style>