<h2><p class="mx-5 mt-4 mb-4">Organisations - <%= Organisation.all.count %></p></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Organisation name</th>
      <th scope="col">Created at</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  	<% @organisations.each do |organisation| %>
	    <tr>
	 	  <td><%= organisation.id %></td>
	 	  <td><%= link_to organisation.organisation_name, organisation_path(organisation), class: "text-success" %></td>
	      <td><%= organisation.created_at %></td>
	      <td>
	      	<span class="glyphicon glyphicon-edit"></span> <%= link_to "Edit", edit_organisation_path(organisation) %>
	      	<%= link_to "Delete",  organisation_path(organisation), method: :delete, data: { confirm: 'Are you sure to Delete?' }, class: "text-danger ml-2" %>
	      </td>
	    </tr>
	 <% end %>
   </tbody>
</table>

<span><%= link_to "Export to CSV", organisations_admins_path(format: "csv"), class: 'btn btn-primary' %></span>