<div class="container-fluid">
  <%= render partial: 'modeldetails/sidebar' %>
  <main class="col-12 col-md-10 col-sm-12 p-0 container-fluid'">
    <%= render 'notice' %>
	
	<h2 class="ml-5 mt-5 mb-4 ">Approve/Reject Project</h2>
	<center>
	<div class="container">
		<strong>Project Title:</strong> <%= @project.project_name.camelcase %><br><br>
		<strong>Create by User :</strong> <%= @project.user.user_name.camelcase %><br><br>
		<%= form_for @project, url:{action:"projectstatus_update"} do |f| %>
		<strong>Set status : <%= f.select :status, ["approve","reject"] %></strong><br> 
		<br>
		<%= f.submit "Submit", class: "btn btn-success" %>
		<% end %>
	</div>
	</center>
	</main>
	</div>