<div class="container-fluid">
  <%= render partial: 'modeldetails/sidebar' %>
  <main class="col-12 col-md-10 col-sm-12 p-0 container-fluid'">
    <div class="container ml-1">
      <%= render 'notice' %>
      <h4 class="pl-5 pt-4 pb-4"><%= @proj.project_name.upcase %> project has <%= @proj.tasks.count %> tasks </h4>
      <hr>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Tasks Name</th>
            <th scope="col">Attachment</th>
          </tr>
        </thead>
        <tbody>
        	<% @proj.tasks.each do |tasks| %>
          <tr>
            <td><%= tasks.id %></td>
            <td><%= tasks.task_name %></td>
            <td><%= image_tag("/tasks/#{tasks.id}/#{tasks.cover_filename}", style: "width:90px") if tasks.cover_filename? %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </main>
  </div>
</div>
