<div class="container-fluid">
        <%= render partial: 'modeldetails/sidebar' %>
        <main class="col-12 col-md-10 col-sm-12 p-0 container-fluid'">

<div class="container ml-1">
	<%= render 'notice' %>
<h2 class="mx-5 mt-4 mb-4">Create Task</h2>
<hr>
<%= form_for @task, url:{action:"task_create"} do |f| %>
	<% if @task.errors.any? %>
	    <div id="error_explanation">
	      <ul>
	        <% @task.errors.full_messages.each do |message| %>
	          <li class="text-danger"><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
	<% end %>
	<div>
		<%= f.label :User %>
    	<%= f.select :user_id, User.all.map  { |m1| [m1.user_name, m1.id]}, class: 'form-control status' %> 
	</div>
	<div>
		<br>
		<%= f.label :task_name %>
	    <%= f.text_field :task_name, class: "form-control" %>
    </div>
    <div>
    	<br>
    	<%= f.label :Project %>
    	<%= f.select :project_id, Project.all.map  { |m1| [m1.project_name, m1.id]}, class: 'form-control status' %> 
    </div>
  	  <!--
	  <div>
	    <br>
	    Attachment: <%= form.file_field :attachment %>
	  </div>
	   -->
	  <br>

	  <div>
	    Attachment: <%= form.file_field :photo, accept: 'image/jpg' %>   
	  </div>
	  <br>
  	<br>
    <div class="actions">
	    <br>
	    <%= f.submit "Create task", class: "btn btn-success btn-block" %>
  	</div>
<% end %>
</div>
</main>
    </div>
</div>