<div class="container-fluid">
        <%= render partial: 'modeldetails/sidebar' %>
        <main class="col-12 col-md-10 col-sm-12 p-0 container-fluid'">
<div class="container ml-1">
	<%= render 'notice' %>
	
	<h2 class="mx-5 mt-4 mb-4">User details</h2>
	<hr>
	<center>
	<div>
		<h5 class="mb-5 mt-4 ml-3"><strong class="title">User name - </strong>
  		<span class="data1"><%= @user.user_name %></span></h5>
	</div>
	<div>
		<h5 class="mb-5 mt-4 ml-3"><strong class="title">First name - </strong>
  		<span class="data1"><%= @user.first_name %></span></h5>
	</div>
	<div>
		<h5 class="mb-5 mt-4 ml-3"><strong class="title">Last name - </strong>
  		<span class="data1"><%= @user.last_name %></span></h5>
	</div>
	<div>
		<h5 class="mb-5 mt-4 ml-3"><strong class="title">Email-id - </strong>
  		<span class="data1"><%= @user.email %></h5></span>
	</div>
	<div>
		<h5 class="mb-5 mt-4 ml-3"><strong class="title">Phone-number - </strong>
  		<span class="data1"><%= @user.phone_number%></span></h5>
	</div>
	</center>
</div>
</main>
    </div>
</div>
<style >
	.title {
		color: #FA8072
	}

	.data1 {
		color: #5AC18E
	}
</style>