<h2><p class="mx-5 mt-4 mb-4">Users - <%= User.all.count %></p></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= sortable "id" %></th>
      <th scope="col"><%= sortable "user_name" %></th>
      <th scope="col"><%= sortable "first_name" %></th>
      <th scope="col"><%= sortable "last_name" %></th>
      <th scope="col"><%= sortable "email" %></th>
      <th scope="col"><%= sortable "phone_number" %></th>
    </tr>
  </thead>
  <tbody>
  	<% @users.each do |user| %>
	    <tr>
	 	  <td><%= user.id %></td>
	      <td><%= user.user_name %></td>
	      <td><%= user.first_name %></td>
	      <td><%= user.last_name %></td>
	      <td><%= user.email %></td>
	      <td><%= user.phone_number %></td>
	    </tr>
	 <% end %>
   </tbody>
</table>

<span><%= link_to "Export to CSV", users_admins_path(format: "csv"), class: 'btn btn-primary' %></span>