<div class="container login-form ">
  <div class="container mt-3"><center><span id="text1"><%= alert %></span></center></div>
<h2 class="mx-5 mt-4 mb-4">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <br>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    <br>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <br>
    <%= f.submit "Log in", class: "btn btn-success btn-block mb-5 greenbtn" %>
  </div>
<% end %>

<span><strong>New user?</strong> Register Now </span><%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-warning" %><br />
<%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn btn-primary mt-3" %><br />
</div>
<style>
  #link1 {
    padding-top: 20px
  }
  #link2 {
    padding-top: 20px
  }
  #text1 {
    color: red;
    font-size: 20px;
  }
  .login-form {
    width: 28%;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 8px;
    padding-top: 1%;
    margin-top: 1%;
    background-color: white;
    padding-bottom: 2%;
  }
  body {
    background-color: #EEF0F0;
  }

</style>
