<div class="container-fluid">
  <%= render partial: 'modeldetails/sidebar' %>
  <main class="col-12 col-md-10 col-sm-12 p-0 container">
    <%= render partial: 'modeldetails/notice' %>
    <h2><p class="ml-5 mt-4 mb-4">Edit Permissions</p></h2>
<div class="container">

	<%= form_for @role, url:{action:"update"} do |f| %>
		<% if @role.errors.any? %>
		    <div id="error_explanation">
		      <ul>
		        <% @role.errors.full_messages.each do |message| %>
		          <li class="text-danger"><%= message %></li>
		        <% end %>
		      </ul>
		    </div>
		<% end %>
		<div>
			<%= f.label :Role_name %>
	    	<%= f.text_field :name, class: "form-control" %> 
		</div>
		<div>
			<br>
			<%= hidden_field_tag "role[permission_ids][]", nil %>
			<div class="opera">Create</div>
			<% Permission.where("subject_class like ?","%_create").each do |permission| %>
				<%= check_box_tag "role[permission_ids][]", permission.id, @role.permission_ids.include?(permission.id) %>
				<%= permission.name %>
			<% end %>
			<div class="opera">Delete</div>
			<% Permission.where("subject_class like ?","%_destroy").each do |permission| %>
				<%= check_box_tag "role[permission_ids][]", permission.id, @role.permission_ids.include?(permission.id) %>
				<%= permission.name %>
			<% end %>
			<div class="opera">Update</div>
			<% Permission.where("subject_class like ?","%_edit").each do |permission| %>
				<%= check_box_tag "role[permission_ids][]", permission.id, @role.permission_ids.include?(permission.id) %>
				<%= permission.name %>
			<% end %>
			<div class="opera">Read</div>
			<% Permission.where("subject_class like ?","%read").each do |permission| %>
				<%= check_box_tag "role[permission_ids][]", permission.id, @role.permission_ids.include?(permission.id) %>
				<%= permission.name %>
			<% end %>
	    </div>
	    <div class="actions">
		    <br>
		    <%= f.submit "Update permissions", class: "btn btn-success btn-block" %>
	  	</div>
	<% end %>
</div>
</main>
</div>
<style >
	.opera {
		margin: 10px 0px;
		color: red;
	}
	#role_permission_ids_ {

		margin-right: 2px;
		margin-left: 8px;
	}
</style>
