<!DOCTYPE html>
<html>
    <head>
      <title>Pmsdup</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      
  <%=javascript_include_tag "https://www.authy.com/form.authy.min.js" %>
  <%=stylesheet_link_tag "https://www.authy.com/form.authy.min.css" %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body >
      <header>
        <!-- navbar -->
        <nav class="navbar navbar-expand-md navbar-dark bg-primary py-3">
          <div class="container">
          <%= link_to "PMS", root_path, class: "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <%= link_to "Home", root_path, class: "nav-link" %>
              </li>
              <% if current_admin %>
              <li class="nav-item active">
                <%= link_to "Organisations", organisationspec_path , class: "nav-link" %>
              </li>
              <li class="nav-item active">
                <%= link_to "Projects", projectsspec_path, class: "nav-link" %>
              </li>
              <% end %>
              <% if current_admin && current_admin.super_admin?  %>
              <li class="nav-item active">
                <%= link_to "Roles", adminroles_path, class: "nav-link" %>
              </li>
              <% end %>
              <% if current_user %>
                <li class="nav-item active">
                <%= link_to "Projects",  dashboard_projectsdash_path , class: "nav-link" %>
              </li>
              <li class="nav-item active">
                <%= link_to "Tasks",  dashboard_tasksdash_path , class: "nav-link" %>
              </li>
              <% end %>
            </ul>
            <span class="mt-2 mt-md-0"> 
              <!-- Login and Logout buttons -->
              <% if current_user %>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong><%= current_user.user_name.upcase %></strong>
                  </button>
                  <div class="dropdown-menu dropdown-menu-left">
                    <button class="dropdown-item" type="button"><%= link_to "Edit details", edit_user_registration_path, class: "btn" %></button>
                    <% if !current_user.authy_id? %>
                    <button class="dropdown-item " type="button"><%= link_to "Two factor Authentication", user_enable_authy_path, class: "btn" %></button>
                    <% end %>
                    <button class="dropdown-item " type="button"><%= link_to "Logout", destroy_user_session_path, method: :get, class: "dropdown-item" %></button>
                  </div>
                </div>
              <% elsif current_admin %>
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <strong><%= current_admin.email %></strong>
                </button>
                <div class="dropdown-menu dropdown-menu-left">
                  <button class="dropdown-item" type="button"><%= link_to "Edit details", edit_admin_registration_path, class: "btn" %></button>
                  <button class="dropdown-item " type="button"><%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "dropdown-item" %></button>
                </div>
              </div>
              <% else %>
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <strong>Log-in</strong>
                </button>
                <div class="dropdown-menu dropdown-menu-left">
                  <button class="dropdown-item" type="button"><%= link_to "User", new_user_session_path, class: "btn " %></button>
                  <button class="dropdown-item " type="button"><%= link_to "Admin", new_admin_session_path, class: "btn" %></button>
                </div>
              </div>
              <div class="btn-group ml-2 mr-2">
                <button class=" btn-primary" type="button"><%= link_to "Register", new_user_registration_path, class: "btn text-white" %></button>
              </div>
              <% end %>
            </span>
          </div>
        </div>
        </nav>
      </header>
      <div ><%= yield %></div>
      <% if current_admin && current_admin.role == "super_admin" %>
      <div>
        <button type="button" class="btn btn-danger btn-sm disabled admin" disabled>Super Admin</button>
      </div>
      <% elsif current_admin && current_admin.role == "admin" %>
      <div>
        <button type="button" class="btn btn-success btn-sm disabled admin" disabled>Admin</button>
      </div>
      <% elsif current_admin && current_admin.role == "moderator" %>
      <div>
        <button type="button" class="btn btn-success btn-sm disabled admin" disabled>Moderator</button>
      </div>
      <% end %>
      <br>
      <br>
      <br>
      <br>
      <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
          <div class="container">
            <p class = "text-center text-white">Copyright-2020 <span class="pl-2">PMS</span></p>
          </div>
        </div>
      </footer>
    </body>
</html>

<style >
    .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  }
  .main {
      position: relative;
  }
  .admin {
    position: fixed;
      z-index: 999;
      right: 0;
      top: 115px;
  }
</style>

<script >
$('#parentcheck1').change(function() {
  var is_checked = this.checked;
  $('.childcheck1').each(function() {
    this.checked = is_checked;
  });

  $('.childcheck1').change(function(){
      if($(this).prop("checked") == false){
        $('#parentcheck1').prop("checked", false)
      }
      if($('.childcheck1:checked').length == $(".childcheck1").length){
          $("#parentcheck1").prop("checked", true)
      }
  });

});

</script>



