<!DOCTYPE html>
<html>
  <head>
    <title>Pmsdup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>
      <% if current_user %>
        <center> <span><strong><%= current_user.user_name %></strong></span> ||<span><%= link_to "My dashboard", dashboard_home_path %></span>||<%= link_to "My profile", edit_user_registration_path %>
         || <strong>Your taks -</strong> <%= current_user.tasks.count %> ||
         <strong>Your Projects -</strong> <%= current_user.projects.count %>|| || <%= link_to "Logout user", destroy_user_session_path, method: :delete %> 
       </center>
      <% elsif current_admin %>
      <%= link_to "Logout admin", destroy_admin_session_path, method: :delete %>
      <% else %>
        <center><%= link_to "Log-in user", new_user_session_path %></center>
        <center><%= link_to "Log-in admin", new_admin_session_path %></center>

      <% end %>
    </center>
    <%= yield %>
  </body>
</html>
