<!DOCTYPE html>
<html>
  <head>
    <title>Pmsdup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
  <!-- navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <%= link_to "PMS", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <span class="mt-2 mt-md-0"> 
        <!-- Login and Logout buttons -->
        <% if current_user %>
          <span class="text-white"><strong><%= current_user.user_name %></strong></span> || 
          <span ><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-white btn btn-danger" %> </span>
        <% elsif current_admin %>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong><%= current_admin.email %></strong>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button"><%= link_to "Edit details", edit_admin_registration_path, class: "btn" %></button>
            <button class="dropdown-item " type="button"><%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "dropdown-item" %></button>
          </div>
        </div>
          || <span ><%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "text-white btn btn-danger" %></span>
        <% else %>
          <span><%= link_to "Log-in user", new_user_session_path, class: "text-white btn btn-success" %></span> ||
          <span><%= link_to "Log-in admin", new_admin_session_path, class: "text-white btn btn-success" %></span>
        <% end %>
      </span>
    </div>
  </nav>
</header>
    <div class="container"><%= yield %></div>
  </body>
</html>
