<!DOCTYPE html>
<html>
  <head>
    <title>Pmsdup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
  <!-- navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">PMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <span class="mt-2 mt-md-0"> 
        <!-- Login and Logout buttons -->
        <% if current_user %>
          <span class="text-white"><strong><%= current_user.user_name %></strong></span> || 
          <span class="btn btn-danger text-white"><%= link_to "Logout user", destroy_user_session_path, method: :delete, class: "text-white" %> </span>
        <% elsif current_admin %>
          <span class="text-white"><strong><%= current_admin.email %></strong></span> ||
          <span class="btn btn-danger "><%= link_to "Logout admin", destroy_admin_session_path, method: :delete, class: "text-white" %></span>
        <% else %>
          <span class="btn btn-success"><%= link_to "Log-in user", new_user_session_path, class: "text-white" %></span> ||
          <span class="btn btn-success"><%= link_to "Log-in admin", new_admin_session_path, class: "text-white" %></span>
        <% end %>
      </span>
    </div>
  </nav>
</header>
    <div class="container"><%= yield %></div>
  </body>
</html>
